/* Variáveis de cores */
:root {
  --color-text: rgb(225, 227, 234);
  --color-text-secondary: rgb(158, 158, 158);
  --color-text-light: rgb(238, 238, 238);
  --color-bg-header: rgb(14, 18, 26);
  --color-border: rgb(37, 40, 47);
  --color-lap-title: rgb(140, 139, 149);
  --color-bg-body: rgba(23, 25, 36, 0.904);
  --color-bg-body-variant: rgb(20, 23, 37);
  --color-bg-position: rgb(14, 13, 19);
  --color-tire: rgb(255, 238, 0);
  --color-first-position-bg: rgb(201, 7, 5);
  --color-tracking-bg: rgb(24, 44, 83);
  --color-shadow: rgba(0, 0, 0, 0.5);
}

/* Fonte Regular */
@font-face {
  font-family: 'f1Font';
  src: url('/assets/fonts/Formula1-Regular-1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Fonte Bold */
@font-face {
  font-family: 'f1Font';
  src: url('/assets/fonts/Formula1-Bold_web.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html.loading {
  visibility: hidden;
}
html.loaded {
  visibility: visible;
}

* {
  font-family: "f1Font", sans-serif;
  font-variant-ligatures: none;
  color: var(--color-text);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars from appearing */
}

#container {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: block; /* Ensure it behaves like a block element */
}

/* Optional: Directly style the canvas if needed, though container usually suffices */
#container canvas {
  display: block; /* Prevent potential inline spacing issues */
  width: 100%;
  height: 100%;
}

#credits {
  user-select: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--color-text-light);
  font-size: 10px;
  text-shadow: 1px 1px 2px var(--color-shadow);
}

/* Scoreboard */

#scoreboard {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 210px;
  color: white;

  user-select: none;
  /* transform: scale(0.85); */
  transform-origin: top left;

  transition: all 0.1s ease-in-out;
}

.scoreboard-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-bg-header);
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

.scoreboard-header .lap-container {
  border-top: 3px solid var(--color-border);
}

.lap-container .lap-title {
  color: var(--color-lap-title);
}

.f1-logo {
  width: 45%;
  height: auto;
  margin: auto;
}

.lap-info {
  font-weight: bold;
  font-size: 16px;
}

.scoreboard-body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-body);
  backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px;
}

.driver-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(5vh - 8px);
  border-radius: 5px;
  margin-bottom: 1px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.driver-row:hover {
  scale: 1.05;
  background-color: var(--color-bg-header);
  z-index: 999;
}

.driver-row.show {
  opacity: 1;
  transform: translateY(0);
}


.driver-row:first-child .position-container {
  background-color: var(--color-first-position-bg);
}

.driver-row:last-child {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  margin-bottom: 0px;
}


.position-container {
  background-color: var(--color-bg-position);
  cursor: pointer;
}

.driver-row p {
  margin: 0;
  font-size: 13px;
}

.driver-row .position {
  width: 18px;
  text-align: right;
}

.driver-row .team-logo {
  aspect-ratio: 1 / 1;
  width: 24px;
  height: 24px;
}

.driver-row .acronym {
  width: 40px;
  font-weight: bold;
  color: white;
  font-size: 13px;
}

.driver-row .interval {
  flex-grow: 1;
  text-align: right;
  font-size: 13px;
  color: var(--color-text);
}

.driver-row .cam-driver {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.driver-row .tire {
  color: var(--color-tire);
  font-size: 13px;
  text-transform: capitalize;
}

.driver-row.driver-tracking:first-child {
  background-color: var(--color-tracking-bg);
}

.driver-row .fastest-lap {
  position: absolute;
  right: -25px;
}

.driver-row .fastest-lap img {
  width: 22px;
  height: 22px;
  aspect-ratio: 1 / 1;
  border-radius: 3px;
}

#scoreboard-view, #weather-view {
  display: none;
}

.checkbox-label {
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;

  background-color: var(--color-bg-body);
  backdrop-filter: blur(10px);
  padding: 5px;
  border-radius: 8px;
  color: white;
}

/* Lateral controll bar */

/* Driver details */

#driver-details {
  width: 25%;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.details-container {
  background-color: var(--color-bg-header);
  border-radius: 10px 10px 0px 0px;
}
  .details-container p {
    color: var(--color-text-light);
  }

.details-container .bar {
  width: 5px;
  height: 1.1rem;
  border-radius: 50px;
}

.details-container .drs {
  border: 2px solid #9a9697;
  font-size: 12px;
  user-select: none;
}
  .details-container .drs.active {
    border: 2px solid #5daf5a;
    font-size: 12px;
  }
  
  .details-container .drs p {
    color: #9a9697;
  }

  .details-container .drs.active p {
    color: #5daf5a;
  }

.details-container .close-button {
  cursor: pointer;
}

.ic-details {
  border: 2px solid #9a9697;
}

.driver-statistics {
  background-color: var(--color-bg-body-variant);
  border-radius: 0px 0px 10px 10px;
}

.driver-statistics .label {
  color: #9a9697;
}

.driver-statistics .driver-img {
  border-right: 4px solid var(--color-border);
  aspect-ratio: 1/1;
}
  .driver-statistics .driver-img img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }

.driver-statistics .cam-button {
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 15px;
}

.driver-statistics .driver-timings {
    border-right: 4px solid var(--color-border);
}

.driver-statistics .driver-timings .separation {
  border-bottom: 1px solid #292838;
}

.driver-timings .fastest-lap-time .label {
  font-size: 11px;
}


  .driver-statistics .cam-view .btn-preview-camera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

.driver-statistics .label-cam {
  transform-origin: center;
  /* transition: transform 0.3s; */
}
  .driver-statistics .label-cam svg, .driver-statistics .label-cam p {
    fill: var(--color-lap-title);
  }

.driver-statistics .label-cam .bi-camera-video-off-fill, .driver-statistics .label-cam.active .bi-camera-video-fill{
  display: none;
}

.driver-statistics .label-cam.active {
  top: 0px !important;
  left: 5px !important;
  transform: scale(0.4) translate(-50%,-50%) !important;
}

.driver-statistics .label-cam.active .bi-camera-video-off-fill {
  display: block;
} 

.driver-statistics .label-cam.active .label {
  display: none;
}

/* --------------------------- */

@media (max-width: 1440px) {
   #scoreboard {
    transform: scale(0.74);
    transform-origin: top left;
  }
}

@media (max-width: 320px) {
   #scoreboard {
    transform: scale(0.74);
    transform-origin: top left;
  }
}

/* Esconde o scoreboard via transform apenas em telas pequenas (smartphones) */
@media only screen and (max-width: 600px) {
  #scoreboard-view:checked ~ #scoreboard {
    transform: scale(0);
    transform-origin: top left;
  }

  #weather-view:checked ~ #race-view {
    transform: scale(0);
    transform-origin: top right;
  }

  #race-view {
    top: 90px !important;
  }

  .checkbox-label, .weather-info {
    display: block !important;
  }

  #driver-details {
    width: 90%;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%) !important;
  }

  #driver-details .driver-statistics .driver-timings p, #driver-details .driver-statistics .driver-timings b {
    font-size: 12px;
  }

  #driver-details .fastest-lap-time .label {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .driver-statistics .cam-view svg {
    width: 32px;
    height: 32px;
  }

  .driver-statistics .cam-view p {
    font-size: 12px;
  }
}

@keyframes blink-red {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.cam-button.active svg {
  fill: red;  
  animation: blink-red 1s infinite ease-in-out;
}

#race-view {
  width: 280px;
}

#race-view .title-race {
  background-color: var(--color-bg-header);

  border-radius: 5px;
}
  #race-view .title-race .ic-sync {
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 50px;
    padding: 4px;
    user-select: none;
  }
    #race-view .title-race .ic-sync:hover {
      background-color: rgba(99, 98, 107, 0.644);
    }


#weather-conditions {
  border-radius: 8px;
  overflow: hidden;
}

#weather-conditions .top-bar {
  background-color: var(--color-bg-header);
}
  #weather-conditions .top-bar p {
    font-size: 14px;
  }

#weather-conditions .body-conditions {
  background-color: var(--color-bg-body);
}
  #weather-conditions .body-conditions p {
    color: var(--color-text);
  }

#weather-conditions #conditions {
  background-color: var(--color-bg-body);
}
  #weather-conditions #conditions p {
    font-size: 12px;
    color: var(--color-text-secondary);
  }
#weather-conditions #conditions .infos .humidity p {
  color: #4b96d0;
}

#race-view #track-conditions {
  overflow: hidden;
  border-radius: 8px;
}

#race-view #track-conditions .top-bar {
  background-color: var(--color-bg-header);
}
  #race-view #track-conditions .top-bar p {
    font-size: 14px;
  }

#race-view #track-conditions .infos {
  background-color: var(--color-bg-body);
  backdrop-filter: blur(2px);
}

#race-view #track-conditions .infos .info-item {
  
}
  #race-view #track-conditions .infos .info-item p {
    font-size: 13px;
  }

.weather-info {
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 10px;
  display: none;

  background-color: var(--color-bg-body);
  backdrop-filter: blur(10px);
  padding: 5px;
  border-radius: 8px;
  color: white;
  border: none !important;
}

#race-view {
  transform-origin: top right;
  transition: all 0.1s ease-in-out;
}

